pre {
    margin-bottom: 20px;
}

.hljs-selector-class {
    color: lighten($brand-primary, 18%);
}

.hljs-number {
    color: $brand-success;
}

.hljs-string {
    color: lighten($brand-primary, 15%);
}
