#hero-mast {
    color: mix(#fff, $brand-primary, 80%);
    text-align: center;
    box-shadow: 0 -2px 10px rgba(black, .2) inset;
    background-color: $brand-primary;
    @include gradient-directional(lighten($brand-primary, 10%), darken($brand-primary, 20%), to top right);

    h1,
    h2,
    h3 {
        font-weight: bolder;
        color: mix(#fff, $brand-primary, 96%);
        text-shadow: 0 1px 7px rgba(#000, .1);
    }
}
